:root {
  --white: #f9f8f7;
  --blue: #2348b5;
  --black: #191919;
  --grey: #a6abae;
}

a {
  color: #000;
}

.hover-line {
  width: 0%;
  height: 2px;
  background-color: #638c3d;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link {
  background-color: var(--white);
  text-transform: lowercase;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  transition: all .32s;
  position: relative;
}

.link:hover {
  color: var(--blue);
}

.link.w--current {
  cursor: pointer;
  font-weight: 600;
}

.link.post {
  margin-left: 24px;
  display: none;
}

.nav-link-name {
  text-transform: lowercase;
}

.nav-link-name.post {
  color: #000;
}

.menu {
  z-index: 100;
  width: 100%;
  height: 70px;
  max-width: 1500px;
  border-bottom: 1px solid var(--black);
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.body {
  background-color: var(--white);
  font-family: Open Sans, sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  max-height: 1200px;
  max-width: 1500px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.section.invert.intro {
  margin-top: 0;
  padding: 70px 0 0;
}

.section.intro {
  padding-top: 80px;
}

.section.intro.blue {
  background-color: var(--blue);
  flex-direction: column;
  margin-top: 0;
  padding-bottom: 0;
}

.section.flip {
  justify-content: flex-start;
}

.section.florry {
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.info {
  width: 50%;
  color: var(--black);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: 50px;
  display: flex;
  position: relative;
}

.info.absolute {
  margin-bottom: 40px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.section-title {
  width: auto;
  max-width: 520px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
  line-height: 115%;
}

.section-paragraph {
  max-width: 500px;
  color: var(--black);
  text-transform: none;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 29px;
}

.section-paragraph.white {
  color: var(--white);
  margin-left: 0;
}

.section-paragraph.white.dla {
  border: 1px #000;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.section-paragraph.white.dla.dad {
  text-decoration: underline;
}

.section-paragraph.white.xtra {
  margin-bottom: 20px;
  font-size: 20px;
}

.section-paragraph.white.xtra.short.d {
  max-width: 100%;
}

.section-paragraph.short {
  max-width: 360px;
}

.link-bar {
  justify-content: flex-start;
  display: flex;
}

.mobile-logo {
  z-index: 3;
  width: 165px;
  height: auto;
  opacity: .9;
  color: #fff;
}

.mobile-logo:hover {
  opacity: 1;
}

.top-line {
  width: 40px;
  height: 2px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
}

.burger-menu {
  z-index: 5;
  width: 60px;
  height: 60px;
  display: none;
  position: relative;
}

.burger-menu.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.bottom-line {
  width: 40px;
  height: 2px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
}

.middle-line {
  width: 40px;
  height: 2px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
}

.footer-link {
  color: var(--black);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  transition: all .35s;
}

.h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
}

.new-mobile-nav {
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.close-button {
  z-index: 5;
  width: 60px;
  height: 60px;
  position: relative;
}

.close-button.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.close-button.sdae {
  z-index: 1000;
  border: 1px solid green;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.d-1-arrow {
  width: 40px;
  height: 2px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
}

.d-2-arrow {
  width: 40px;
  height: 2px;
  background-color: #162350;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
}

.page-links {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.image {
  width: 100%;
  margin-bottom: -2px;
  margin-left: -1px;
  position: relative;
}

.image.cover {
  width: 50%;
  object-fit: cover;
}

.image.right-float {
  width: 50%;
  height: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  margin-left: auto;
  margin-right: 0;
  padding-right: 50px;
  left: auto;
}

.image.left-float {
  width: 50%;
  height: 100%;
  object-fit: cover;
  padding-left: 50px;
}

.image.floorplan {
  width: 50%;
  mix-blend-mode: multiply;
  object-fit: contain;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 50px;
}

.blue-block {
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: relative;
}

.buidlling-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.image-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta-button {
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  text-transform: lowercase;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  transition: all .32s;
  position: relative;
}

.cta-button:hover {
  border-color: var(--blue);
  color: var(--blue);
}

.cta-button.w--current {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.cta-button.blue {
  border-color: var(--blue);
  background-color: var(--white);
  color: var(--blue);
  -webkit-text-stroke-color: var(--blue);
}

.cta-button.blue:hover {
  transform: scale(1.05);
}

._3d-embed {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  justify-content: center;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

._3d-embed:focus {
  border: 1px #000;
}

.embed-component {
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 237, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plus-icon {
  z-index: 5;
  width: 60px;
  height: 60px;
  display: none;
  position: relative;
}

.plus-icon.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.vertical-line {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
}

.hotizontal-line {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
}

.link-nav {
  width: 100%;
  max-width: 480px;
  margin-top: 5px;
  position: relative;
}

.link-nav.due {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hyperlink {
  width: 100%;
  color: var(--black);
  border: 1px rgba(0, 0, 0, .5);
  border-top-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 100%;
  text-decoration: none;
  transition: all .3s;
}

.hyperlink:hover {
  background-color: var(--blue);
  color: var(--white);
  padding-left: 20px;
}

.hyperlink.last {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  margin-bottom: 0;
}

.plain {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.full-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.simple-paragraph {
  max-width: 480px;
  color: var(--black);
  text-transform: none;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 27px;
}

.footer-title {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 58px;
  font-weight: 600;
  line-height: 62px;
}

.footer-title.adaf {
  font-size: 25px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.contact-info {
  width: 420px;
  max-height: 500px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30%;
  display: flex;
}

.footer-info {
  width: 100%;
  max-width: 1500px;
  background-color: var(--white);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 50px;
  display: flex;
}

.logo-download {
  width: 60%;
}

.paragraph {
  width: 100%;
  max-width: 480px;
  color: var(--black);
  text-transform: none;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 135%;
}

.little-river-map {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-link {
  background-color: var(--white);
  text-transform: lowercase;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 20px;
  text-decoration: none;
  transition: all .32s;
  position: relative;
}

.nav-link:hover {
  color: var(--blue);
}

.nav-link.w--current {
  color: var(--black);
  cursor: pointer;
  font-weight: 600;
}

.c1 {
  margin-bottom: 100px;
  position: relative;
}

.c2 {
  display: none;
  position: relative;
}

.c3 {
  justify-content: space-between;
  display: flex;
  position: relative;
}

.half {
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  padding-left: 50px;
  display: flex;
}

.contact-logo-wrap {
  width: 50%;
}

.close-button-2 {
  z-index: 5;
  width: 60px;
  height: 60px;
  display: none;
  position: relative;
}

.close-button-2.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.new-mobile-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.close-button-3 {
  z-index: 5;
  width: 60px;
  height: 60px;
  display: none;
  position: relative;
}

.close-button-3.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.footer-image {
  width: 100%;
  margin-top: -1px;
  margin-bottom: -2px;
  margin-left: -1px;
}

.footer-section {
  width: 100vw;
  height: auto;
  max-height: 1200px;
  max-width: 1500px;
  background-color: var(--blue);
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.footer-section.de {
  margin-top: 30px;
}

.mobile-menu-link {
  color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 100%;
  text-decoration: none;
  display: block;
}

.mobile-menu-link.w--current {
  cursor: pointer;
  font-weight: 600;
}

.y-logo {
  width: 60%;
  display: none;
}

.download-grid {
  width: 100%;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 25px 50px;
  display: grid;
  position: relative;
}

.div-block {
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
  display: flex;
}

.footer-paragraph {
  width: 100%;
  color: var(--black);
  text-transform: none;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 1440px) {
  .link.post {
    display: none;
  }

  .info {
    padding-left: 0;
  }

  .mobile-logo {
    width: 180px;
  }

  .h2 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .section-paragraph {
    text-align: left;
  }

  .mobile-logo {
    width: 190px;
  }

  .footer-link {
    line-height: 21px;
  }

  .image.right-float {
    padding-right: 0;
  }

  .image.left-float, .image.floorplan {
    padding-left: 0;
  }

  .simple-paragraph {
    text-align: left;
  }

  .footer-info {
    padding-left: 0;
    padding-right: 0;
  }

  .logo-download {
    height: 100%;
  }

  .paragraph {
    text-align: left;
  }

  .y-logo {
    height: 100%;
  }

  .download-grid {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-paragraph {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .link.nav {
    margin-right: 0;
    display: none;
  }

  .menu {
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    overflow: scroll;
  }

  .body {
    background-color: var(--white);
  }

  .section {
    height: auto;
    max-height: none;
    max-width: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .section.invert {
    height: auto;
    max-height: none;
    min-height: 0;
    flex-direction: column-reverse;
  }

  .section.invert.intro {
    height: auto;
    background-color: var(--white);
    padding-top: 60px;
  }

  .section.intro.blue {
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .section.fully {
    height: auto;
    min-height: 0;
    padding-bottom: 40px;
    display: none;
  }

  .section.flip {
    height: auto;
  }

  .section.florry, .section._3d {
    height: auto;
    min-height: 0;
    padding-bottom: 40px;
  }

  .info {
    width: 520px;
    margin: 0 40px 40px;
  }

  .mobile-logo {
    z-index: 5;
    width: 130px;
    margin-top: 3px;
    display: block;
  }

  .burger-menu {
    z-index: 0;
    align-items: center;
    margin-right: -10px;
    display: none;
  }

  .new-mobile-nav {
    z-index: 10;
    height: 60px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .close-button {
    display: block;
  }

  .close-button.sdae {
    margin: 20px;
    padding: 15px;
    display: none;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .d-1-arrow {
    background-color: #000;
    transform: translate(0, 10px)rotate(45deg);
  }

  .d-2-arrow {
    background-color: #000;
    transform: translate(0, -10px)rotate(-45deg);
  }

  .page-links {
    width: 100%;
    background-color: var(--blue);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 40px;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .image {
    margin-bottom: 25px;
    margin-left: 0;
  }

  .image.cover {
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
  }

  .image.right-float {
    width: 100%;
    height: 80vh;
    padding-right: 0;
  }

  .image.left-float {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0;
  }

  .image.floorplan {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 0;
  }

  .blue-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ._3d-embed {
    flex: 1;
  }

  .plus-icon {
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    padding: 15px;
    display: flex;
  }

  .vertical-line {
    background-color: var(--black);
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: rotate(90deg);
  }

  .hotizontal-line {
    background-color: var(--black);
    margin-top: auto;
    margin-bottom: auto;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .link-nav.due {
    grid-column-gap: 0px;
    margin-top: 0;
  }

  .hyperlink.first {
    border-top-style: none;
  }

  .contact-info {
    justify-content: flex-start;
    margin-top: 0;
    margin-left: -80px;
  }

  .footer-info {
    padding: 40px;
  }

  .logo-download {
    display: none;
  }

  .paragraph {
    width: auto;
  }

  .nav-link {
    margin-right: 24px;
  }

  .half {
    padding-left: 0;
  }

  .contact-logo-wrap {
    width: 55%;
  }

  .close-button-2 {
    display: block;
  }

  .new-mobile-menu {
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    margin-top: 80px;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .close-button-3 {
    display: block;
  }

  .footer-image {
    margin-left: -41px;
  }

  .footer-section {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-section.de {
    margin-top: 20px;
  }

  .logo {
    color: var(--black);
  }

  .y-logo {
    width: auto;
    max-height: 400px;
    display: block;
  }

  .download-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .div-block {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link-name.post {
    font-size: 12px;
  }

  .body {
    flex-direction: column;
    align-items: stretch;
  }

  .section {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px 20px;
  }

  .section.invert {
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  .section.invert.intro {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section.fully {
    padding-bottom: 20px;
  }

  .section.flip {
    height: auto;
  }

  .section.florry, .section._3d {
    padding-bottom: 20px;
  }

  .info {
    width: 400px;
    max-width: none;
    margin-bottom: 0;
    margin-left: 0;
  }

  .info.absolute {
    width: 100%;
    padding-left: 40px;
  }

  .section-title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .section-paragraph {
    font-size: 18px;
    line-height: 26px;
  }

  .section-paragraph.white.dla {
    margin-bottom: 20px;
  }

  .section-paragraph.white.xtra.short.d {
    width: 290px;
    margin-bottom: 40px;
  }

  .top-line, .bottom-line, .middle-line {
    width: 35px;
  }

  .h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .new-mobile-nav {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
  }

  .d-1-arrow, .d-2-arrow {
    width: 35px;
  }

  .page-links {
    padding: 20px;
  }

  .image.cover {
    width: 45%;
    height: 360px;
    flex: 0 auto;
    margin-bottom: 10px;
  }

  .image.right-float {
    width: 45%;
    height: 360px;
    flex: 0 auto;
    margin-bottom: 0;
  }

  .image.left-float {
    width: 45%;
    height: 360px;
    flex: 0 auto;
    margin-bottom: 20px;
  }

  .image.floorplan {
    width: 40%;
    margin-left: 20px;
  }

  .blue-block {
    padding: 20px;
  }

  .cta-button {
    font-size: 18px;
  }

  ._3d-embed {
    height: 400px;
  }

  .footer-title {
    font-size: 30px;
    line-height: 40px;
  }

  .contact-info {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .footer-info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph {
    font-size: 18px;
    line-height: 27px;
  }

  .nav-link {
    margin-right: 12px;
    font-size: 16px;
  }

  .c1 {
    margin-bottom: 40px;
  }

  .half {
    width: 100%;
    flex-direction: row;
    margin-left: 0;
  }

  .contact-logo-wrap {
    width: auto;
    height: 230px;
    display: none;
  }

  .new-mobile-menu {
    margin-top: 60px;
    overflow: scroll;
  }

  .footer-image {
    width: auto;
    height: 100%;
    margin-left: 0;
  }

  .footer-section {
    min-height: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0;
  }

  .footer-section.de {
    margin-top: 0;
  }

  .mobile-menu-link {
    font-size: 30px;
    line-height: 100%;
  }

  .download-grid {
    grid-column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .link {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .link.post {
    margin-left: 20px;
  }

  .menu {
    display: none;
  }

  .section {
    flex-direction: column;
    padding: 60px 0 40px;
  }

  .section.invert {
    flex-direction: column-reverse;
  }

  .section.invert.intro {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .section.intro.blue {
    padding-top: 60px;
  }

  .section.flip {
    min-height: 0;
  }

  .info {
    width: 100%;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info.absolute {
    padding-left: 20px;
  }

  .section-title {
    width: auto;
  }

  .section-paragraph.white.dla {
    text-align: left;
    margin-bottom: 50px;
    line-height: 30px;
  }

  .section-paragraph.white.xtra {
    line-height: 30px;
  }

  .link-bar {
    width: 100%;
  }

  .mobile-logo {
    z-index: 7;
  }

  .top-line {
    height: 2px;
  }

  .burger-menu {
    position: relative;
  }

  .bottom-line, .middle-line {
    height: 2px;
  }

  .h2 {
    text-align: left;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
  }

  .image.cover, .image.right-float, .image.left-float {
    width: 100%;
    height: 480px;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .image.floorplan {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  ._3d-embed {
    flex: 0 auto;
  }

  .embed-component {
    margin-bottom: 0;
    position: absolute;
  }

  .link-nav {
    width: 100%;
  }

  .hyperlink.we {
    border-top-style: none;
  }

  .simple-paragraph {
    font-size: 17px;
    line-height: 25px;
  }

  .footer-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .paragraph {
    width: auto;
    margin-bottom: 20px;
  }

  .c1 {
    margin-bottom: 50px;
  }

  .c3 {
    flex-direction: column;
  }

  .half {
    width: 100%;
  }

  .contact-logo-wrap {
    width: 100%;
    display: none;
  }

  .footer-section {
    margin-top: 60px;
  }

  .intro {
    height: 100%;
    flex: 1;
  }

  .mobile-menu-link {
    padding-left: 0;
  }

  .y-logo {
    max-height: 300px;
  }

  .download-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}


